In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from pymsm.datasets import load_aidssi, prep_aidssi
from pymsm.plotting import competingrisks_stackplot

%load_ext autoreload
%autoreload 2


From Data Analysis with Competing Risks and Intermediate States, Book by Ronald B. Geskus: 

The data contains information on two event types, “AIDS” and “SI”, which compete to be the first to occur. 
Time is given in years since HIV infection. There are two different representations of the information on the event type that occurred first.  
In the cause column, the event type is described in words, whereas in the status column a numeric respresentation is used.  
The ccr5 column contains the information on the presence of the deletion CCR5-∆32. Individuals that don’t have the deletion have the value WW (W stands for “wild type”). Individuals that have the deletion on one of the chromosomes have the value WM (M stands for “mutation”)

See also: https://www.rdocumentation.org/packages/mstate/versions/0.3.1/topics/aidssi

In [2]:
data = load_aidssi()
data.head()

   patnr    time  status       cause ccr5
1      1   9.106       1        AIDS   WW
2      2  11.039       0  event-free   WM
3      3   2.234       1        AIDS   WW
4      4   9.878       2          SI   WM
5      5   3.819       1        AIDS   WW

In [6]:
competing_risk_dataset, covariate_cols, state_labels = prep_aidssi(data)
competing_risk_dataset.head()

   sample_id  time_entry_to_origin  ...  target_state  time_transition_to_target
0          1                     0  ...             2                      9.106
1          2                     0  ...             0                     11.039
2          3                     0  ...             2                      2.234
3          4                     0  ...             3                      9.878
4          5                     0  ...             2                      3.819

[5 rows x 5 columns]

In [11]:
competingrisks_stackplot(
    data=competing_risk_dataset,
    duration_col='time_transition_to_target',
    event_col ='target_state',
    order_top= [2],
    order_bottom = [3],
    state_labels = state_labels)

/home/hagair/anaconda3/envs/pymsm/lib/python3.9/site-packages/lifelines/fitters/aalen_johansen_fitter.py:111: Warning: Tied event times were detected. The Aalen-Johansen estimator cannot handle tied event times.
                To resolve ties, data is randomly jittered.
  warnings.warn(