In [18]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [19]:
from pymsm.datasets import prep_rotterdam

dataset, states_labels = prep_rotterdam()

from pymsm.multi_state_competing_risks_model import MultiStateModel

multi_state_model = MultiStateModel(
    dataset,
    terminal_states=[3],
    state_labels = {1: 'Primary surgery', 2: 'Disease recurrence', 3: 'Death'} 
)
multi_state_model.plot_state_diagram()

In [16]:
multi_state_model.fit()

Fitting Model at State: 1
>>> Fitting Transition to State: 3, n events: 195
>>> Fitting Transition to State: 2, n events: 1518
Fitting Model at State: 2
>>> Fitting Transition to State: 3, n events: 1077

In [3]:
multi_state_model.state_labels

{1: 'Primary surgery', 2: 'Disease recurrence', 3: 'Death'}

In [4]:
multi_state_model._prepare_dataset_for_competing_risks_fit()

,sample_id,origin_state,target_state,time_entry_to_origin,time_transition_to_target,year,age,meno,grade,nodes,pgr,er,hormon,chemo
0,1,1,0,0.000000,1798.999948,1992,74,1,3,0,35,291,0,0
1,2,1,0,0.000000,2828.000021,1984,79,1,3,0,36,611,0,0
2,3,1,0,0.000000,6011.999804,1983,44,0,2,0,138,0,0,0
3,4,1,0,0.000000,2623.999895,1985,70,1,3,0,0,12,0,0
4,5,1,0,0.000000,4914.999997,1983,75,1,3,0,260,409,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4495,3004,1,3,0.000000,45.000001,1987,75,1,3,11,5,20,1,0
4496,3005,1,3,0.000000,581.999975,1985,79,1,3,6,189,21,0,0
4497,3006,1,3,0.000000,4972.000179,1983,71,1,3,0,0,55,0,0
4498,3007,1,2,0.000000,378.999989,1993,68,1,3,12,0,0,1,0
4499,3007,2,3,378.999989,379.099989,1993,68,1,3,12,0,0,1,0

In [5]:
multi_state_model.state_labels

{1: 'Primary surgery', 2: 'Disease recurrence', 3: 'Death'}

In [13]:
multi_state_model.plot_state_diagram()

target_state        Censored  Disease recurrence  Death
origin_state
Primary surgery         1269                1518    195
Disease recurrence       441                   0   1077